<!DOCTYPE html>
<html lang="fr">  <!-- Ajout de la langue pour l'accessibilité -->
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap 5 CDN -->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-rbsA2VBKQy9zKNF2A4m4xV7FZ6lQ6P1SAjFf3xk5m5v5z5l5i5q5x5q5p5y5z5z" 
        crossorigin="anonymous"
    >

    {% block stylesheets %}{% endblock %}
</head>

<body>
   
    
    <div class="container mt-5"> <!-- Ajout d'une marge pour un meilleur rendu -->
        {{ include('inc/navbar.html.twig')}}
        {% block body %}{% endblock %}     
    </div>

    <!-- Bootstrap 5 JS Bundle  (inclut Popper.js) -->
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" />


    {% block javascripts %}{% endblock %}
</body>
</html>
